body {
    display: flex;
    justify-content: center;
    color: #BBB;
}
.stoper {
    background-color: #607D8B;
    height: 100px;
    width: 300px;
    text-align: center;
}

.controls {
    font-size: 30px;
}

.button {
    text-decoration: none;
    color: #BBB;
}

.stopwatch {
    font-size: 50px;
}